

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  height: 100vh;
}

main {
  display: block;
}

img {
  max-width: 100%;
}

.navbar {
  position: fixed;
  padding: 0 16px;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  z-index: 100;
  border-bottom: 5px solid rgb(22, 109, 239);
}

.activity-header{
  background-image: url(../img/header_speech.jpg);
  background-size: cover;
  height: 300px;
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-title{
  font-size: 45px;
  background-color: rgba(69, 216, 243);
  color: white;
  width: 100%;
  text-align: center;
}

.home{
  height: 30px;
}

.back{
  height: 30px;
}

.text{
  width:		100%;
	font-size:	200%;
	text-align:	center;
	top: 0%;
	margin:		0;
	padding:	0;
	color:		#fff;
	background:	rgba(69, 216, 243, 0.4); /* 帯の透明度 */
	position:	absolute; 
  z-index: 12;
}



.headline{
  font-size: 30px;
}

iframe{
  width: 90%;
  height: 500px;
  border: 6px solid #C0C0C0;  
  border-radius: 10px 10px 10px 10px;
  display: block;
  margin: 0 auto;
}

.article{
  margin-top: 80px;
  padding: 0 16px;
  display: flex;
  justify-content: center;
}

.article-container{
  width: 100%;
  max-width: 1032px;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 25px;
}

h4{
  font-size: 20px;
}

.stepone{
  padding-bottom: 50px;
  border-bottom: 2px solid gray;
}

.steptwo{
  margin-top: 50px;
  border-bottom: 2px solid gray;
  padding-bottom: 50px;
}

.stepthree{
  margin-top: 80px;
}