*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  height: 100vh;
}

main {
  display: block;
}

img {
  max-width: 100%;
}

.navbar {
  position: fixed;
  padding: 0 16px;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  z-index: 100;
  border-bottom: 5px solid rgb(22, 109, 239);
}

.activity-header{
  background-image: url(../img/header_speech.jpg);
  background-size: cover;
  height: 300px;
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-title{
  font-size: 45px;
  background-color: rgba(69, 216, 243);
  color: white;
  width: 100%;
  text-align: center;
}

.home{
  height: 30px;
}

.back{
  height: 30px;
}

.text{
  width:		100%;
	font-size:	200%;
	text-align:	center;
	top: 0%;
	margin:		0;
	padding:	0;
	color:		#fff;
	background:	rgba(69, 216, 243, 0.4); /* 帯の透明度 */
	position:	absolute; 
  z-index: 12;
}



.headline{
  font-size: 30px;
}

iframe{
  width: 90%;
  height: 500px;
  border: 6px solid #C0C0C0;
  border-radius: 10px 10px 10px 10px;
  display: block;
  margin: 0 auto;
}

.text-block{
  margin: 0 5%;
}

.flex {
  display: flex; /*横並び*/
}
.flex .image {
  width: 640px; /*画像サイズ指定*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.flex .right {
  margin: 0 0 0 20px;
  padding: 0;
}
.flex .title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
}
.flex .text-box {
  margin: 10px 0 0;
  padding: 0;
}

/* 画像を天地中央表示 */

.flex .image {
  overflow: hidden;
  position: relative;
}
.flex .image::before {
  content: "";
  display: block;
  padding-top: 58%;
}
.flex .image img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

a.btn--blue {
  color: #fff;
  background-color: #2FA7F3;
  border-bottom: 5px solid #2FA7F3;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
}

a.btn--blue:hover {
  margin-top: 3px;
  color: #fff;
  background: #2FA7F3;
  border-bottom: 2px solid #818EE2;
}

a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}